*{
    margin: 0;
    padding: 0;
}

.container , .container3{
    margin: 4rem 0;
}

.box,.bottomBoxes,.rotatingBox{
    border-radius: 20px;
    background-color: blue;
    height: 12rem;
    width: 12rem;
}

button{
    margin: 1rem;
    background-color: red;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor:pointer;
}

.container2{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.input{
    margin: 1rem auto;
    display: block;
}